services:

  mysql:
    build: ./mysql
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  web:
    build: ./php
    ports:
      - "8081:80"
    depends_on:
      - mysql
    
  

volumes:
  mysql_data:
