version: '3.9'

services:

  mongodb:
    build:
      context: ./mongo
      dockerfile: Dockerfile
    container_name: mongo_db
    ports:
      - "27018:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - backend

  neo4j:
    build:
      context: ./neo4j
      dockerfile: Dockerfile
    container_name: neo4j_server
    environment:
      - NEO4J_ACCEPT_LICENSE_AGREEMENT=yes
      - NEO4J_AUTH=neo4j/password123
      - NEO4J_PLUGINS=["apoc"]
      - NEO4J_apoc_import_file_enabled=true
      - NEO4J_apoc_export_file_enabled=true
    ports:
      - "7474:7474"   # HTTP
      - "7688:7687"   # Bolt
    volumes:
      - neo4j_data:/data
      - neo4j_logs:/logs
    networks:
      - backend

  redis:
    build:
      context: ./redis
      dockerfile: Dockerfile
    container_name: redis_server
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
      - backend

networks:
  backend:

volumes:
  mongo_data:
  neo4j_data:
  neo4j_logs:
  redis_data:



# Como tú tienes Dockerfiles personalizados, debes construir todo:

# docker-compose build

# Esto crea las imágenes basadas en tus Dockerfiles.

# 3. Levanta los contenedores

# Para iniciar todo en modo detached (en segundo plano):

# docker-compose up -d
